In [2]:
#Don't run more than once
import pandas as pd

data_1999_2002 = pd.read_csv('Dataset/Bank Data/1999_2002_1.csv', index_col=0, names=[1999, 2000, 2001, 2002,
                                                                                      1999, 2000, 2001, 2002,
                                                                                      1999, 2000, 2001, 2002])
data_1999_2002

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1999</th>
      <th>2000</th>
      <th>2001</th>
      <th>2002</th>
      <th>1999.1</th>
      <th>2000.1</th>
      <th>2001.1</th>
      <th>2002.1</th>
      <th>1999.2</th>
      <th>2000.2</th>
      <th>2001.2</th>
      <th>2002.2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Cashdeposit_ratio</th>
      <td>10.29</td>
      <td>9.60</td>
      <td>7.62</td>
      <td>8.08</td>
      <td>16.31</td>
      <td>13.76</td>
      <td>12.99</td>
      <td>7.79</td>
      <td>10.91</td>
      <td>10.96</td>
      <td>7.31</td>
      <td>7.54</td>
    </tr>
    <tr>
      <th>Creditdeposit_ratio</th>
      <td>48.72</td>
      <td>49.84</td>
      <td>46.78</td>
      <td>44.65</td>
      <td>49.62</td>
      <td>48.50</td>
      <td>50.05</td>
      <td>50.86</td>
      <td>50.23</td>
      <td>48.60</td>
      <td>47.78</td>
      <td>48.40</td>
    </tr>
    <tr>
      <th>Investmentdeposit_ratio</th>
      <td>42.17</td>
      <td>46.68</td>
      <td>50.60</td>
      <td>53.65</td>
      <td>49.11</td>
      <td>53.40</td>
      <td>51.57</td>
      <td>54.07</td>
      <td>55.68</td>
      <td>55.96</td>
      <td>59.01</td>
      <td>56.47</td>
    </tr>
    <tr>
      <th>(Credit_+ investment)deposit_ratio</th>
      <td>90.89</td>
      <td>96.52</td>
      <td>97.38</td>
      <td>98.30</td>
      <td>98.73</td>
      <td>101.90</td>
      <td>101.62</td>
      <td>104.93</td>
      <td>105.92</td>
      <td>104.56</td>
      <td>106.79</td>
      <td>104.87</td>
    </tr>
    <tr>
      <th>Ratio_of_deposits_to_total_liabilities</th>
      <td>75.97</td>
      <td>75.26</td>
      <td>76.93</td>
      <td>77.70</td>
      <td>75.68</td>
      <td>72.77</td>
      <td>74.47</td>
      <td>74.98</td>
      <td>80.50</td>
      <td>80.78</td>
      <td>80.92</td>
      <td>78.67</td>
    </tr>
    <tr>
      <th>Ratio_of_term_deposits_to_total_deposits</th>
      <td>61.54</td>
      <td>60.53</td>
      <td>63.67</td>
      <td>63.52</td>
      <td>56.31</td>
      <td>58.35</td>
      <td>56.52</td>
      <td>56.57</td>
      <td>60.16</td>
      <td>62.11</td>
      <td>63.23</td>
      <td>65.38</td>
    </tr>
    <tr>
      <th>Ratio_of_priority_sector_advances_to_total_advances</th>
      <td>28.04</td>
      <td>26.38</td>
      <td>26.55</td>
      <td>26.15</td>
      <td>42.40</td>
      <td>41.50</td>
      <td>39.60</td>
      <td>40.59</td>
      <td>35.29</td>
      <td>35.63</td>
      <td>34.74</td>
      <td>34.41</td>
    </tr>
    <tr>
      <th>Ratio_of_termloans_to_total_advances</th>
      <td>34.76</td>
      <td>34.54</td>
      <td>34.82</td>
      <td>37.31</td>
      <td>23.79</td>
      <td>24.58</td>
      <td>24.44</td>
      <td>26.60</td>
      <td>23.98</td>
      <td>25.12</td>
      <td>27.41</td>
      <td>30.47</td>
    </tr>
    <tr>
      <th>Ratio_of_secured_advances_to_total_advances</th>
      <td>93.85</td>
      <td>93.94</td>
      <td>87.21</td>
      <td>86.78</td>
      <td>96.26</td>
      <td>96.20</td>
      <td>95.62</td>
      <td>93.42</td>
      <td>96.50</td>
      <td>98.21</td>
      <td>94.96</td>
      <td>92.43</td>
    </tr>
    <tr>
      <th>Ratio_of_investments_in_nonapproved_securities_to_total_investments</th>
      <td>18.33</td>
      <td>19.48</td>
      <td>16.89</td>
      <td>15.57</td>
      <td>13.31</td>
      <td>10.57</td>
      <td>10.13</td>
      <td>9.39</td>
      <td>16.43</td>
      <td>14.57</td>
      <td>12.95</td>
      <td>13.43</td>
    </tr>
    <tr>
      <th>Ratio_of_Interest_income_to_total_assets</th>
      <td>9.50</td>
      <td>9.17</td>
      <td>9.01</td>
      <td>8.98</td>
      <td>10.28</td>
      <td>9.83</td>
      <td>9.62</td>
      <td>9.23</td>
      <td>10.30</td>
      <td>10.33</td>
      <td>10.01</td>
      <td>9.48</td>
    </tr>
    <tr>
      <th>Ratio_of_net_interest_margin_to_total_assets</th>
      <td>3.02</td>
      <td>2.86</td>
      <td>2.86</td>
      <td>2.74</td>
      <td>3.52</td>
      <td>3.29</td>
      <td>3.46</td>
      <td>3.33</td>
      <td>3.91</td>
      <td>3.62</td>
      <td>3.61</td>
      <td>3.21</td>
    </tr>
    <tr>
      <th>Ratio_of_noninterest_income_to_total_assets</th>
      <td>1.63</td>
      <td>1.47</td>
      <td>1.39</td>
      <td>1.26</td>
      <td>1.74</td>
      <td>1.94</td>
      <td>1.82</td>
      <td>2.04</td>
      <td>1.60</td>
      <td>1.86</td>
      <td>1.70</td>
      <td>1.81</td>
    </tr>
    <tr>
      <th>Ratio_of_intermediation_cost_to_total_assets</th>
      <td>2.93</td>
      <td>2.60</td>
      <td>2.88</td>
      <td>2.17</td>
      <td>3.54</td>
      <td>3.24</td>
      <td>3.24</td>
      <td>2.72</td>
      <td>3.21</td>
      <td>2.61</td>
      <td>2.66</td>
      <td>2.05</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_intermediation_cost</th>
      <td>70.34</td>
      <td>71.13</td>
      <td>72.44</td>
      <td>71.46</td>
      <td>75.66</td>
      <td>72.24</td>
      <td>76.89</td>
      <td>72.18</td>
      <td>73.16</td>
      <td>66.87</td>
      <td>71.28</td>
      <td>68.26</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_total_expenses</th>
      <td>21.90</td>
      <td>20.76</td>
      <td>23.07</td>
      <td>18.44</td>
      <td>26.01</td>
      <td>23.92</td>
      <td>26.51</td>
      <td>22.80</td>
      <td>24.48</td>
      <td>18.75</td>
      <td>20.96</td>
      <td>16.82</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_total_income</th>
      <td>18.52</td>
      <td>17.38</td>
      <td>20.02</td>
      <td>15.16</td>
      <td>22.27</td>
      <td>19.87</td>
      <td>21.79</td>
      <td>17.43</td>
      <td>19.76</td>
      <td>14.34</td>
      <td>16.22</td>
      <td>12.40</td>
    </tr>
    <tr>
      <th>Ratio_of_burden_to_total_assets</th>
      <td>1.30</td>
      <td>1.13</td>
      <td>1.48</td>
      <td>0.91</td>
      <td>1.79</td>
      <td>1.30</td>
      <td>1.43</td>
      <td>0.68</td>
      <td>1.61</td>
      <td>0.76</td>
      <td>0.96</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>Ratio_of_burden_to_interest_income</th>
      <td>13.67</td>
      <td>12.28</td>
      <td>16.46</td>
      <td>10.19</td>
      <td>17.45</td>
      <td>13.21</td>
      <td>14.81</td>
      <td>7.34</td>
      <td>15.68</td>
      <td>7.33</td>
      <td>9.62</td>
      <td>2.59</td>
    </tr>
    <tr>
      <th>Ratio_of_operating_profits_to_total_assets</th>
      <td>1.72</td>
      <td>1.74</td>
      <td>1.37</td>
      <td>1.82</td>
      <td>1.73</td>
      <td>2.10</td>
      <td>2.04</td>
      <td>2.66</td>
      <td>2.29</td>
      <td>2.87</td>
      <td>2.65</td>
      <td>2.97</td>
    </tr>
    <tr>
      <th>Return_on_assets</th>
      <td>0.46</td>
      <td>0.75</td>
      <td>0.50</td>
      <td>0.70</td>
      <td>0.98</td>
      <td>1.06</td>
      <td>0.80</td>
      <td>1.06</td>
      <td>0.85</td>
      <td>0.82</td>
      <td>0.82</td>
      <td>1.02</td>
    </tr>
    <tr>
      <th>Return_on_equity</th>
      <td>10.27</td>
      <td>18.20</td>
      <td>12.53</td>
      <td>16.95</td>
      <td>24.07</td>
      <td>25.55</td>
      <td>18.61</td>
      <td>24.17</td>
      <td>25.19</td>
      <td>22.94</td>
      <td>21.77</td>
      <td>25.74</td>
    </tr>
    <tr>
      <th>Cost_of_deposits</th>
      <td>8.13</td>
      <td>7.87</td>
      <td>7.57</td>
      <td>7.62</td>
      <td>8.37</td>
      <td>8.23</td>
      <td>7.88</td>
      <td>7.58</td>
      <td>7.49</td>
      <td>7.93</td>
      <td>7.53</td>
      <td>7.56</td>
    </tr>
    <tr>
      <th>Cost_of_borrowings</th>
      <td>5.53</td>
      <td>6.07</td>
      <td>5.21</td>
      <td>3.63</td>
      <td>5.67</td>
      <td>11.89</td>
      <td>14.35</td>
      <td>14.51</td>
      <td>12.42</td>
      <td>14.47</td>
      <td>21.23</td>
      <td>16.39</td>
    </tr>
    <tr>
      <th>Cost_of_funds</th>
      <td>7.99</td>
      <td>7.78</td>
      <td>7.47</td>
      <td>7.47</td>
      <td>8.33</td>
      <td>8.27</td>
      <td>7.92</td>
      <td>7.61</td>
      <td>7.56</td>
      <td>8.01</td>
      <td>7.67</td>
      <td>7.61</td>
    </tr>
    <tr>
      <th>Return_on_advances</th>
      <td>10.96</td>
      <td>10.59</td>
      <td>10.53</td>
      <td>9.44</td>
      <td>12.27</td>
      <td>11.69</td>
      <td>11.48</td>
      <td>10.91</td>
      <td>12.49</td>
      <td>11.90</td>
      <td>11.70</td>
      <td>11.06</td>
    </tr>
    <tr>
      <th>Return_on_investments</th>
      <td>12.01</td>
      <td>11.65</td>
      <td>10.46</td>
      <td>10.65</td>
      <td>12.69</td>
      <td>12.08</td>
      <td>11.41</td>
      <td>11.13</td>
      <td>11.42</td>
      <td>11.57</td>
      <td>10.88</td>
      <td>10.65</td>
    </tr>
    <tr>
      <th>Return_on_advances_adjusted_to_cost_of_funds</th>
      <td>2.97</td>
      <td>2.80</td>
      <td>3.06</td>
      <td>1.97</td>
      <td>3.95</td>
      <td>3.42</td>
      <td>3.56</td>
      <td>3.30</td>
      <td>4.93</td>
      <td>3.88</td>
      <td>4.04</td>
      <td>3.46</td>
    </tr>
    <tr>
      <th>Return_on_investment_adjusted_to_cost_of_funds</th>
      <td>4.03</td>
      <td>3.87</td>
      <td>2.99</td>
      <td>3.18</td>
      <td>4.36</td>
      <td>3.81</td>
      <td>3.49</td>
      <td>3.53</td>
      <td>3.86</td>
      <td>3.56</td>
      <td>3.21</td>
      <td>3.04</td>
    </tr>
    <tr>
      <th>Business_per_employee_(in_Rs._lakh)</th>
      <td>93.64</td>
      <td>111.20</td>
      <td>136.58</td>
      <td>173.01</td>
      <td>74.17</td>
      <td>86.47</td>
      <td>105.19</td>
      <td>129.42</td>
      <td>109.00</td>
      <td>126.00</td>
      <td>165.00</td>
      <td>166.04</td>
    </tr>
    <tr>
      <th>Profit_per_employee_(in_Rs._lakh)</th>
      <td>0.43</td>
      <td>0.87</td>
      <td>0.70</td>
      <td>1.16</td>
      <td>1.14</td>
      <td>1.69</td>
      <td>1.96</td>
      <td>1.31</td>
      <td>0.76</td>
      <td>0.87</td>
      <td>1.13</td>
      <td>1.68</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio</th>
      <td>12.51</td>
      <td>11.49</td>
      <td>12.79</td>
      <td>13.35</td>
      <td>12.26</td>
      <td>12.35</td>
      <td>12.39</td>
      <td>13.42</td>
      <td>10.65</td>
      <td>10.86</td>
      <td>12.28</td>
      <td>14.03</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio_Tier_I</th>
      <td>9.36</td>
      <td>8.28</td>
      <td>8.58</td>
      <td>9.22</td>
      <td>10.45</td>
      <td>11.09</td>
      <td>11.62</td>
      <td>12.06</td>
      <td>8.59</td>
      <td>9.27</td>
      <td>8.92</td>
      <td>9.86</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio_Tier_II</th>
      <td>3.15</td>
      <td>3.21</td>
      <td>4.21</td>
      <td>4.13</td>
      <td>1.81</td>
      <td>1.26</td>
      <td>0.77</td>
      <td>1.36</td>
      <td>2.06</td>
      <td>1.59</td>
      <td>3.36</td>
      <td>4.17</td>
    </tr>
    <tr>
      <th>Ratio_of_net_NPA_to_net_advances</th>
      <td>7.18</td>
      <td>6.41</td>
      <td>6.03</td>
      <td>5.63</td>
      <td>10.45</td>
      <td>10.14</td>
      <td>7.83</td>
      <td>5.72</td>
      <td>8.78</td>
      <td>7.30</td>
      <td>7.82</td>
      <td>4.97</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
data_1999_2002_sbh = data_1999_2002[['1999.2', '2000.2', '2001.2', '2002.2']]
%store data_1999_2002_sbh
data_1999_2002_sbh

Stored 'data_1999_2002_sbh' (DataFrame)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1999.2</th>
      <th>2000.2</th>
      <th>2001.2</th>
      <th>2002.2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Cashdeposit_ratio</th>
      <td>10.91</td>
      <td>10.96</td>
      <td>7.31</td>
      <td>7.54</td>
    </tr>
    <tr>
      <th>Creditdeposit_ratio</th>
      <td>50.23</td>
      <td>48.60</td>
      <td>47.78</td>
      <td>48.40</td>
    </tr>
    <tr>
      <th>Investmentdeposit_ratio</th>
      <td>55.68</td>
      <td>55.96</td>
      <td>59.01</td>
      <td>56.47</td>
    </tr>
    <tr>
      <th>(Credit_+ investment)deposit_ratio</th>
      <td>105.92</td>
      <td>104.56</td>
      <td>106.79</td>
      <td>104.87</td>
    </tr>
    <tr>
      <th>Ratio_of_deposits_to_total_liabilities</th>
      <td>80.50</td>
      <td>80.78</td>
      <td>80.92</td>
      <td>78.67</td>
    </tr>
    <tr>
      <th>Ratio_of_term_deposits_to_total_deposits</th>
      <td>60.16</td>
      <td>62.11</td>
      <td>63.23</td>
      <td>65.38</td>
    </tr>
    <tr>
      <th>Ratio_of_priority_sector_advances_to_total_advances</th>
      <td>35.29</td>
      <td>35.63</td>
      <td>34.74</td>
      <td>34.41</td>
    </tr>
    <tr>
      <th>Ratio_of_termloans_to_total_advances</th>
      <td>23.98</td>
      <td>25.12</td>
      <td>27.41</td>
      <td>30.47</td>
    </tr>
    <tr>
      <th>Ratio_of_secured_advances_to_total_advances</th>
      <td>96.50</td>
      <td>98.21</td>
      <td>94.96</td>
      <td>92.43</td>
    </tr>
    <tr>
      <th>Ratio_of_investments_in_nonapproved_securities_to_total_investments</th>
      <td>16.43</td>
      <td>14.57</td>
      <td>12.95</td>
      <td>13.43</td>
    </tr>
    <tr>
      <th>Ratio_of_Interest_income_to_total_assets</th>
      <td>10.30</td>
      <td>10.33</td>
      <td>10.01</td>
      <td>9.48</td>
    </tr>
    <tr>
      <th>Ratio_of_net_interest_margin_to_total_assets</th>
      <td>3.91</td>
      <td>3.62</td>
      <td>3.61</td>
      <td>3.21</td>
    </tr>
    <tr>
      <th>Ratio_of_noninterest_income_to_total_assets</th>
      <td>1.60</td>
      <td>1.86</td>
      <td>1.70</td>
      <td>1.81</td>
    </tr>
    <tr>
      <th>Ratio_of_intermediation_cost_to_total_assets</th>
      <td>3.21</td>
      <td>2.61</td>
      <td>2.66</td>
      <td>2.05</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_intermediation_cost</th>
      <td>73.16</td>
      <td>66.87</td>
      <td>71.28</td>
      <td>68.26</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_total_expenses</th>
      <td>24.48</td>
      <td>18.75</td>
      <td>20.96</td>
      <td>16.82</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_total_income</th>
      <td>19.76</td>
      <td>14.34</td>
      <td>16.22</td>
      <td>12.40</td>
    </tr>
    <tr>
      <th>Ratio_of_burden_to_total_assets</th>
      <td>1.61</td>
      <td>0.76</td>
      <td>0.96</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>Ratio_of_burden_to_interest_income</th>
      <td>15.68</td>
      <td>7.33</td>
      <td>9.62</td>
      <td>2.59</td>
    </tr>
    <tr>
      <th>Ratio_of_operating_profits_to_total_assets</th>
      <td>2.29</td>
      <td>2.87</td>
      <td>2.65</td>
      <td>2.97</td>
    </tr>
    <tr>
      <th>Return_on_assets</th>
      <td>0.85</td>
      <td>0.82</td>
      <td>0.82</td>
      <td>1.02</td>
    </tr>
    <tr>
      <th>Return_on_equity</th>
      <td>25.19</td>
      <td>22.94</td>
      <td>21.77</td>
      <td>25.74</td>
    </tr>
    <tr>
      <th>Cost_of_deposits</th>
      <td>7.49</td>
      <td>7.93</td>
      <td>7.53</td>
      <td>7.56</td>
    </tr>
    <tr>
      <th>Cost_of_borrowings</th>
      <td>12.42</td>
      <td>14.47</td>
      <td>21.23</td>
      <td>16.39</td>
    </tr>
    <tr>
      <th>Cost_of_funds</th>
      <td>7.56</td>
      <td>8.01</td>
      <td>7.67</td>
      <td>7.61</td>
    </tr>
    <tr>
      <th>Return_on_advances</th>
      <td>12.49</td>
      <td>11.90</td>
      <td>11.70</td>
      <td>11.06</td>
    </tr>
    <tr>
      <th>Return_on_investments</th>
      <td>11.42</td>
      <td>11.57</td>
      <td>10.88</td>
      <td>10.65</td>
    </tr>
    <tr>
      <th>Return_on_advances_adjusted_to_cost_of_funds</th>
      <td>4.93</td>
      <td>3.88</td>
      <td>4.04</td>
      <td>3.46</td>
    </tr>
    <tr>
      <th>Return_on_investment_adjusted_to_cost_of_funds</th>
      <td>3.86</td>
      <td>3.56</td>
      <td>3.21</td>
      <td>3.04</td>
    </tr>
    <tr>
      <th>Business_per_employee_(in_Rs._lakh)</th>
      <td>109.00</td>
      <td>126.00</td>
      <td>165.00</td>
      <td>166.04</td>
    </tr>
    <tr>
      <th>Profit_per_employee_(in_Rs._lakh)</th>
      <td>0.76</td>
      <td>0.87</td>
      <td>1.13</td>
      <td>1.68</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio</th>
      <td>10.65</td>
      <td>10.86</td>
      <td>12.28</td>
      <td>14.03</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio_Tier_I</th>
      <td>8.59</td>
      <td>9.27</td>
      <td>8.92</td>
      <td>9.86</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio_Tier_II</th>
      <td>2.06</td>
      <td>1.59</td>
      <td>3.36</td>
      <td>4.17</td>
    </tr>
    <tr>
      <th>Ratio_of_net_NPA_to_net_advances</th>
      <td>8.78</td>
      <td>7.30</td>
      <td>7.82</td>
      <td>4.97</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
data_2003_2004 = pd.read_csv('Dataset/Bank Data/2003_2004_1.csv', index_col=0)
data_2003_2004

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2003</th>
      <th>2004</th>
      <th>2003.1</th>
      <th>2004.1</th>
      <th>2003.2</th>
      <th>2004.2</th>
      <th>2003.3</th>
      <th>2004.3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Cashdeposit_ratio</th>
      <td>4.30</td>
      <td>5.98</td>
      <td>6.64</td>
      <td>8.06</td>
      <td>8.87</td>
      <td>7.50</td>
      <td>6.76</td>
      <td>5.30</td>
    </tr>
    <tr>
      <th>Creditdeposit_ratio</th>
      <td>46.52</td>
      <td>49.57</td>
      <td>51.18</td>
      <td>54.96</td>
      <td>46.91</td>
      <td>48.70</td>
      <td>56.23</td>
      <td>61.49</td>
    </tr>
    <tr>
      <th>Investmentdeposit_ratio</th>
      <td>58.20</td>
      <td>58.28</td>
      <td>58.05</td>
      <td>53.89</td>
      <td>60.77</td>
      <td>61.91</td>
      <td>55.74</td>
      <td>52.11</td>
    </tr>
    <tr>
      <th>(Credit+_Investment)deposit_ratio</th>
      <td>104.72</td>
      <td>107.84</td>
      <td>109.23</td>
      <td>108.85</td>
      <td>107.68</td>
      <td>110.61</td>
      <td>111.97</td>
      <td>113.59</td>
    </tr>
    <tr>
      <th>Ratio_of_deposits_to_total_liabilities</th>
      <td>78.78</td>
      <td>78.13</td>
      <td>73.36</td>
      <td>77.22</td>
      <td>78.83</td>
      <td>79.15</td>
      <td>81.02</td>
      <td>79.87</td>
    </tr>
    <tr>
      <th>Ratio_of_term_deposits_to_total_deposits</th>
      <td>62.67</td>
      <td>59.23</td>
      <td>53.07</td>
      <td>54.49</td>
      <td>66.42</td>
      <td>65.61</td>
      <td>67.37</td>
      <td>65.65</td>
    </tr>
    <tr>
      <th>Ratio_of_priority_sector_advances_to_total_advances</th>
      <td>25.49</td>
      <td>27.04</td>
      <td>43.16</td>
      <td>43.86</td>
      <td>32.54</td>
      <td>39.51</td>
      <td>43.94</td>
      <td>46.32</td>
    </tr>
    <tr>
      <th>Ratio_of_term_loan_to_total_advances</th>
      <td>40.82</td>
      <td>46.69</td>
      <td>29.41</td>
      <td>34.46</td>
      <td>36.65</td>
      <td>45.46</td>
      <td>37.83</td>
      <td>47.80</td>
    </tr>
    <tr>
      <th>Ratio_of_secured_advances_to_total_advances</th>
      <td>86.46</td>
      <td>83.15</td>
      <td>91.69</td>
      <td>90.03</td>
      <td>88.65</td>
      <td>86.94</td>
      <td>93.68</td>
      <td>88.48</td>
    </tr>
    <tr>
      <th>Ratio_of_investments_in_nonapproved_securities_to_total_investments</th>
      <td>13.98</td>
      <td>12.79</td>
      <td>8.73</td>
      <td>5.44</td>
      <td>17.60</td>
      <td>9.60</td>
      <td>7.58</td>
      <td>6.64</td>
    </tr>
    <tr>
      <th>Ratio_of_interest_income_to_total_assets</th>
      <td>8.59</td>
      <td>7.77</td>
      <td>8.56</td>
      <td>8.22</td>
      <td>8.57</td>
      <td>7.80</td>
      <td>9.21</td>
      <td>8.57</td>
    </tr>
    <tr>
      <th>Ratio_of_net_interest_margin_to_total_assets</th>
      <td>2.76</td>
      <td>2.85</td>
      <td>3.28</td>
      <td>3.74</td>
      <td>3.10</td>
      <td>2.96</td>
      <td>3.43</td>
      <td>3.71</td>
    </tr>
    <tr>
      <th>Ratio_of_noninterest_income_to_total_assets</th>
      <td>1.59</td>
      <td>1.94</td>
      <td>2.02</td>
      <td>2.57</td>
      <td>1.91</td>
      <td>2.49</td>
      <td>2.82</td>
      <td>2.95</td>
    </tr>
    <tr>
      <th>Ratio_of_intemediation_cost_to_total_assets</th>
      <td>2.19</td>
      <td>2.36</td>
      <td>2.68</td>
      <td>2.75</td>
      <td>1.87</td>
      <td>1.88</td>
      <td>2.32</td>
      <td>2.31</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_intemediation_cost</th>
      <td>71.62</td>
      <td>69.74</td>
      <td>70.98</td>
      <td>68.48</td>
      <td>67.95</td>
      <td>63.86</td>
      <td>66.97</td>
      <td>62.92</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_total_expense</th>
      <td>19.58</td>
      <td>22.61</td>
      <td>23.91</td>
      <td>26.06</td>
      <td>17.32</td>
      <td>17.91</td>
      <td>19.16</td>
      <td>20.28</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_total_income</th>
      <td>15.45</td>
      <td>16.94</td>
      <td>17.98</td>
      <td>17.46</td>
      <td>12.13</td>
      <td>11.69</td>
      <td>12.90</td>
      <td>12.61</td>
    </tr>
    <tr>
      <th>Ratio_of_burden_to_total_assets</th>
      <td>0.61</td>
      <td>0.42</td>
      <td>0.66</td>
      <td>0.18</td>
      <td>0.04</td>
      <td>0.61</td>
      <td>0.50</td>
      <td>0.65</td>
    </tr>
    <tr>
      <th>Ratio_of_burden_to_interest_income</th>
      <td>7.08</td>
      <td>5.36</td>
      <td>7.69</td>
      <td>2.23</td>
      <td>0.49</td>
      <td>7.81</td>
      <td>5.46</td>
      <td>7.53</td>
    </tr>
    <tr>
      <th>Ratio_of_operating_profits_to_total_assets</th>
      <td>2.15</td>
      <td>2.44</td>
      <td>2.62</td>
      <td>3.56</td>
      <td>3.14</td>
      <td>3.57</td>
      <td>3.93</td>
      <td>4.36</td>
    </tr>
    <tr>
      <th>Return_on_assets</th>
      <td>0.86</td>
      <td>0.94</td>
      <td>1.13</td>
      <td>1.49</td>
      <td>1.15</td>
      <td>1.25</td>
      <td>1.76</td>
      <td>1.73</td>
    </tr>
    <tr>
      <th>Return_on_equity</th>
      <td>19.15</td>
      <td>19.67</td>
      <td>24.56</td>
      <td>29.39</td>
      <td>26.80</td>
      <td>26.99</td>
      <td>40.21</td>
      <td>32.94</td>
    </tr>
    <tr>
      <th>Cost_of_deposits</th>
      <td>7.12</td>
      <td>5.90</td>
      <td>6.96</td>
      <td>5.81</td>
      <td>6.74</td>
      <td>5.90</td>
      <td>6.84</td>
      <td>5.75</td>
    </tr>
    <tr>
      <th>Cost_of_borrowings</th>
      <td>2.10</td>
      <td>1.42</td>
      <td>0.76</td>
      <td>1.43</td>
      <td>3.76</td>
      <td>2.66</td>
      <td>1.01</td>
      <td>0.17</td>
    </tr>
    <tr>
      <th>Cost_of_funds</th>
      <td>6.96</td>
      <td>5.74</td>
      <td>6.88</td>
      <td>5.68</td>
      <td>6.70</td>
      <td>5.81</td>
      <td>6.68</td>
      <td>5.56</td>
    </tr>
    <tr>
      <th>Return_on_advances</th>
      <td>8.69</td>
      <td>7.62</td>
      <td>10.29</td>
      <td>8.99</td>
      <td>10.05</td>
      <td>8.93</td>
      <td>10.27</td>
      <td>8.57</td>
    </tr>
    <tr>
      <th>Return_on_investments</th>
      <td>9.61</td>
      <td>8.78</td>
      <td>10.23</td>
      <td>10.22</td>
      <td>9.94</td>
      <td>8.86</td>
      <td>9.79</td>
      <td>9.96</td>
    </tr>
    <tr>
      <th>Return_on_advances_adjusted_to_cost_of_funds</th>
      <td>1.73</td>
      <td>1.88</td>
      <td>3.41</td>
      <td>3.32</td>
      <td>3.35</td>
      <td>3.12</td>
      <td>3.60</td>
      <td>3.00</td>
    </tr>
    <tr>
      <th>Return_on_advances_adjusted_to_cost_of_funds</th>
      <td>1.73</td>
      <td>1.88</td>
      <td>3.41</td>
      <td>3.32</td>
      <td>3.35</td>
      <td>3.12</td>
      <td>3.60</td>
      <td>3.00</td>
    </tr>
    <tr>
      <th>Return_on_investments_adjusted_to_cost_of_funds</th>
      <td>2.65</td>
      <td>3.04</td>
      <td>3.36</td>
      <td>4.55</td>
      <td>3.24</td>
      <td>3.05</td>
      <td>3.11</td>
      <td>4.40</td>
    </tr>
    <tr>
      <th>Business_per_employee_(in_Rs._lakh)</th>
      <td>191.00</td>
      <td>210.56</td>
      <td>145.64</td>
      <td>169.82</td>
      <td>226.20</td>
      <td>265.86</td>
      <td>220.52</td>
      <td>230.77</td>
    </tr>
    <tr>
      <th>Profit_per_employee_(in_Rs._lakh)</th>
      <td>1.47</td>
      <td>1.77</td>
      <td>1.63</td>
      <td>5.52</td>
      <td>2.25</td>
      <td>2.87</td>
      <td>3.06</td>
      <td>3.45</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio</th>
      <td>13.50</td>
      <td>13.53</td>
      <td>13.08</td>
      <td>12.93</td>
      <td>14.91</td>
      <td>14.29</td>
      <td>13.09</td>
      <td>12.39</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio_Tier_I</th>
      <td>8.81</td>
      <td>8.34</td>
      <td>10.52</td>
      <td>9.03</td>
      <td>9.84</td>
      <td>8.42</td>
      <td>9.40</td>
      <td>8.31</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio_Tier_II</th>
      <td>4.69</td>
      <td>5.19</td>
      <td>2.56</td>
      <td>3.90</td>
      <td>5.07</td>
      <td>5.87</td>
      <td>3.69</td>
      <td>4.08</td>
    </tr>
    <tr>
      <th>Ratio_of_net_NPA_to_net_advances</th>
      <td>4.50</td>
      <td>3.48</td>
      <td>4.13</td>
      <td>1.24</td>
      <td>3.25</td>
      <td>0.65</td>
      <td>2.66</td>
      <td>0.00</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
data_2003_2004_sbh = data_2003_2004[['2003.2', '2004.2']]
%store data_2003_2004_sbh
data_2003_2004_sbh

Stored 'data_2005_2006_sbh' (DataFrame)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2005.2</th>
      <th>2006.2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Cashdeposit_ratio</th>
      <td>4.81</td>
      <td>6.69</td>
    </tr>
    <tr>
      <th>Creditdeposit_ratio</th>
      <td>53.92</td>
      <td>61.32</td>
    </tr>
    <tr>
      <th>Investmentdeposit_ratio</th>
      <td>50.33</td>
      <td>41.90</td>
    </tr>
    <tr>
      <th>(Credit_+ Investment)_deposit_ratio</th>
      <td>104.25</td>
      <td>103.22</td>
    </tr>
    <tr>
      <th>Ratio_of_deposits_to_total_liabilities</th>
      <td>82.84</td>
      <td>83.74</td>
    </tr>
    <tr>
      <th>Ratio_of_term_deposits_to_total_deposits</th>
      <td>67.37</td>
      <td>65.66</td>
    </tr>
    <tr>
      <th>Ratio_of_priority_sector_advances_to_total_advances</th>
      <td>39.69</td>
      <td>41.68</td>
    </tr>
    <tr>
      <th>Ratio_of_term_loan_to_total_advances</th>
      <td>54.84</td>
      <td>58.14</td>
    </tr>
    <tr>
      <th>Ratio_of_secured_advances_to_total_advances</th>
      <td>78.54</td>
      <td>80.12</td>
    </tr>
    <tr>
      <th>Ratio_of_investments_in_nonapproved_securites_to_total_investments</th>
      <td>6.97</td>
      <td>5.54</td>
    </tr>
    <tr>
      <th>Ratio_of_interest_income_to_total_assets</th>
      <td>7.09</td>
      <td>7.28</td>
    </tr>
    <tr>
      <th>Ratio_of_net_interest_margin_to_total_assets</th>
      <td>2.94</td>
      <td>2.90</td>
    </tr>
    <tr>
      <th>Ratio_of_noninterest_income_to_total_assets</th>
      <td>1.29</td>
      <td>1.56</td>
    </tr>
    <tr>
      <th>Ratio_of_intermediation_cost_to_total_assets</th>
      <td>2.05</td>
      <td>2.16</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_intermediation_cost</th>
      <td>59.22</td>
      <td>65.10</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_total_expense</th>
      <td>19.53</td>
      <td>21.51</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_total_income</th>
      <td>14.46</td>
      <td>15.91</td>
    </tr>
    <tr>
      <th>Ratio_of_burden_to_total_assets</th>
      <td>0.76</td>
      <td>0.60</td>
    </tr>
    <tr>
      <th>Ratio_of_burden_to_interest_income</th>
      <td>10.72</td>
      <td>8.23</td>
    </tr>
    <tr>
      <th>Ratio_of_operating_profits_to_total_assets</th>
      <td>2.18</td>
      <td>2.30</td>
    </tr>
    <tr>
      <th>Return_on_assets</th>
      <td>0.79</td>
      <td>1.13</td>
    </tr>
    <tr>
      <th>Return_on_equity</th>
      <td>15.03</td>
      <td>22.01</td>
    </tr>
    <tr>
      <th>Cost_of_deposits</th>
      <td>4.90</td>
      <td>4.98</td>
    </tr>
    <tr>
      <th>Cost_of_borrowings</th>
      <td>3.84</td>
      <td>5.45</td>
    </tr>
    <tr>
      <th>Cost_of_borrowings</th>
      <td>3.84</td>
      <td>5.45</td>
    </tr>
    <tr>
      <th>Cost_of_funds</th>
      <td>4.87</td>
      <td>4.99</td>
    </tr>
    <tr>
      <th>Return_on_advances</th>
      <td>8.09</td>
      <td>8.15</td>
    </tr>
    <tr>
      <th>Return_on_investments</th>
      <td>7.82</td>
      <td>8.21</td>
    </tr>
    <tr>
      <th>Return_on_advances_adjusted_to_cost_of_funds</th>
      <td>3.22</td>
      <td>3.16</td>
    </tr>
    <tr>
      <th>Return_on_investments_adjusted_to_cost_of_funds</th>
      <td>2.96</td>
      <td>3.22</td>
    </tr>
    <tr>
      <th>Business_per_employee_(in_Rs._lakh)</th>
      <td>339.74</td>
      <td>414.34</td>
    </tr>
    <tr>
      <th>Profit_per_employee_(in_Rs._lakh)</th>
      <td>1.91</td>
      <td>3.26</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio</th>
      <td>11.74</td>
      <td>12.08</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio_Tier_I</th>
      <td>7.58</td>
      <td>8.95</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio_Tier_II</th>
      <td>4.16</td>
      <td>3.13</td>
    </tr>
    <tr>
      <th>Ratio_of_net_NPA_to_net_advances</th>
      <td>0.61</td>
      <td>0.36</td>
    </tr>
  </tbody>
</table>
</div>

In [49]:
data_2005_2006 = pd.read_csv('Dataset/Bank Data/2005_2006_1.csv', index_col=0)
data_2005_2006

data_2005_2006_sbh = data_2005_2006[['2005.2', '2006.2']]
%store data_2005_2006_sbh
data_2005_2006_sbh

Stored 'data_2005_2006_sbh' (DataFrame)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2005.2</th>
      <th>2006.2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Cashdeposit_ratio</th>
      <td>4.81</td>
      <td>6.69</td>
    </tr>
    <tr>
      <th>Creditdeposit_ratio</th>
      <td>53.92</td>
      <td>61.32</td>
    </tr>
    <tr>
      <th>Investmentdeposit_ratio</th>
      <td>50.33</td>
      <td>41.90</td>
    </tr>
    <tr>
      <th>(Credit_+ Investment)_deposit_ratio</th>
      <td>104.25</td>
      <td>103.22</td>
    </tr>
    <tr>
      <th>Ratio_of_deposits_to_total_liabilities</th>
      <td>82.84</td>
      <td>83.74</td>
    </tr>
    <tr>
      <th>Ratio_of_term_deposits_to_total_deposits</th>
      <td>67.37</td>
      <td>65.66</td>
    </tr>
    <tr>
      <th>Ratio_of_priority_sector_advances_to_total_advances</th>
      <td>39.69</td>
      <td>41.68</td>
    </tr>
    <tr>
      <th>Ratio_of_term_loan_to_total_advances</th>
      <td>54.84</td>
      <td>58.14</td>
    </tr>
    <tr>
      <th>Ratio_of_secured_advances_to_total_advances</th>
      <td>78.54</td>
      <td>80.12</td>
    </tr>
    <tr>
      <th>Ratio_of_investments_in_nonapproved_securites_to_total_investments</th>
      <td>6.97</td>
      <td>5.54</td>
    </tr>
    <tr>
      <th>Ratio_of_interest_income_to_total_assets</th>
      <td>7.09</td>
      <td>7.28</td>
    </tr>
    <tr>
      <th>Ratio_of_net_interest_margin_to_total_assets</th>
      <td>2.94</td>
      <td>2.90</td>
    </tr>
    <tr>
      <th>Ratio_of_noninterest_income_to_total_assets</th>
      <td>1.29</td>
      <td>1.56</td>
    </tr>
    <tr>
      <th>Ratio_of_intermediation_cost_to_total_assets</th>
      <td>2.05</td>
      <td>2.16</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_intermediation_cost</th>
      <td>59.22</td>
      <td>65.10</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_total_expense</th>
      <td>19.53</td>
      <td>21.51</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_total_income</th>
      <td>14.46</td>
      <td>15.91</td>
    </tr>
    <tr>
      <th>Ratio_of_burden_to_total_assets</th>
      <td>0.76</td>
      <td>0.60</td>
    </tr>
    <tr>
      <th>Ratio_of_burden_to_interest_income</th>
      <td>10.72</td>
      <td>8.23</td>
    </tr>
    <tr>
      <th>Ratio_of_operating_profits_to_total_assets</th>
      <td>2.18</td>
      <td>2.30</td>
    </tr>
    <tr>
      <th>Return_on_assets</th>
      <td>0.79</td>
      <td>1.13</td>
    </tr>
    <tr>
      <th>Return_on_equity</th>
      <td>15.03</td>
      <td>22.01</td>
    </tr>
    <tr>
      <th>Cost_of_deposits</th>
      <td>4.90</td>
      <td>4.98</td>
    </tr>
    <tr>
      <th>Cost_of_borrowings</th>
      <td>3.84</td>
      <td>5.45</td>
    </tr>
    <tr>
      <th>Cost_of_borrowings</th>
      <td>3.84</td>
      <td>5.45</td>
    </tr>
    <tr>
      <th>Cost_of_funds</th>
      <td>4.87</td>
      <td>4.99</td>
    </tr>
    <tr>
      <th>Return_on_advances</th>
      <td>8.09</td>
      <td>8.15</td>
    </tr>
    <tr>
      <th>Return_on_investments</th>
      <td>7.82</td>
      <td>8.21</td>
    </tr>
    <tr>
      <th>Return_on_advances_adjusted_to_cost_of_funds</th>
      <td>3.22</td>
      <td>3.16</td>
    </tr>
    <tr>
      <th>Return_on_investments_adjusted_to_cost_of_funds</th>
      <td>2.96</td>
      <td>3.22</td>
    </tr>
    <tr>
      <th>Business_per_employee_(in_Rs._lakh)</th>
      <td>339.74</td>
      <td>414.34</td>
    </tr>
    <tr>
      <th>Profit_per_employee_(in_Rs._lakh)</th>
      <td>1.91</td>
      <td>3.26</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio</th>
      <td>11.74</td>
      <td>12.08</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio_Tier_I</th>
      <td>7.58</td>
      <td>8.95</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio_Tier_II</th>
      <td>4.16</td>
      <td>3.13</td>
    </tr>
    <tr>
      <th>Ratio_of_net_NPA_to_net_advances</th>
      <td>0.61</td>
      <td>0.36</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
data_2007_2009 = pd.read_csv('Dataset/Bank Data/2007_2009_1.csv', index_col=0)
data_2007_2009

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2007</th>
      <th>2008</th>
      <th>2009</th>
      <th>2007.1</th>
      <th>2008.1</th>
      <th>2009.1</th>
      <th>2007.2</th>
      <th>2008.2</th>
      <th>2009.2</th>
      <th>2007.3</th>
      <th>2008.3</th>
      <th>2009.3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Cashdeposit_ratio</th>
      <td>6.68</td>
      <td>9.59</td>
      <td>7.49</td>
      <td>12.83</td>
      <td>11.46</td>
      <td>9.17</td>
      <td>6.92</td>
      <td>11.07</td>
      <td>8.69</td>
      <td>6.71</td>
      <td>6.80</td>
      <td>6.18</td>
    </tr>
    <tr>
      <th>Creditdeposit_ratio</th>
      <td>77.50</td>
      <td>77.55</td>
      <td>73.11</td>
      <td>72.07</td>
      <td>73.52</td>
      <td>76.10</td>
      <td>67.73</td>
      <td>71.54</td>
      <td>69.94</td>
      <td>76.85</td>
      <td>73.79</td>
      <td>76.28</td>
    </tr>
    <tr>
      <th>Investmentdeposit_ratio</th>
      <td>34.30</td>
      <td>35.26</td>
      <td>37.19</td>
      <td>30.67</td>
      <td>30.78</td>
      <td>28.04</td>
      <td>33.54</td>
      <td>31.99</td>
      <td>33.60</td>
      <td>30.00</td>
      <td>31.10</td>
      <td>28.42</td>
    </tr>
    <tr>
      <th>(Credit_+ Investment)_deposit_ratio</th>
      <td>112.00</td>
      <td>112.81</td>
      <td>110.29</td>
      <td>102.7</td>
      <td>104.30</td>
      <td>104.14</td>
      <td>101.30</td>
      <td>103.53</td>
      <td>103.54</td>
      <td>106.80</td>
      <td>104.89</td>
      <td>104.70</td>
    </tr>
    <tr>
      <th>Ratio_of_deposits_to_total_liabilities</th>
      <td>76.90</td>
      <td>74.48</td>
      <td>76.94</td>
      <td>82.53</td>
      <td>82.88</td>
      <td>84.59</td>
      <td>84.61</td>
      <td>81.32</td>
      <td>81.40</td>
      <td>81.45</td>
      <td>84.37</td>
      <td>85.66</td>
    </tr>
    <tr>
      <th>Ratio_of_term_deposits_to_total_deposits</th>
      <td>51.50</td>
      <td>53.04</td>
      <td>58.36</td>
      <td>64.99</td>
      <td>64.74</td>
      <td>62.18</td>
      <td>68.62</td>
      <td>69.40</td>
      <td>69.33</td>
      <td>70.82</td>
      <td>68.27</td>
      <td>69.79</td>
    </tr>
    <tr>
      <th>Ratio_of_priority_sector_advances_to_total_advances</th>
      <td>30.20</td>
      <td>28.61</td>
      <td>26.48</td>
      <td>41.03</td>
      <td>40.99</td>
      <td>38.80</td>
      <td>38.99</td>
      <td>32.78</td>
      <td>31.97</td>
      <td>37.46</td>
      <td>37.93</td>
      <td>34.69</td>
    </tr>
    <tr>
      <th>Ratio_of_term_loan_to_total_advances</th>
      <td>53.70</td>
      <td>54.72</td>
      <td>50.07</td>
      <td>54.05</td>
      <td>42.10</td>
      <td>56.55</td>
      <td>59.86</td>
      <td>61.23</td>
      <td>58.40</td>
      <td>59.03</td>
      <td>58.88</td>
      <td>56.48</td>
    </tr>
    <tr>
      <th>Ratio_of_secured_advances_to_total_advances</th>
      <td>75.60</td>
      <td>73.06</td>
      <td>79.01</td>
      <td>86.01</td>
      <td>82.64</td>
      <td>80.02</td>
      <td>79.70</td>
      <td>82.92</td>
      <td>81.70</td>
      <td>89.04</td>
      <td>87.85</td>
      <td>88.88</td>
    </tr>
    <tr>
      <th>Ratio_of_investments_in_nonapproved_securites_to_total_investments</th>
      <td>18.80</td>
      <td>24.29</td>
      <td>17.34</td>
      <td>3.78</td>
      <td>7.12</td>
      <td>4.83</td>
      <td>4.47</td>
      <td>12.61</td>
      <td>13.07</td>
      <td>5.79</td>
      <td>8.39</td>
      <td>9.65</td>
    </tr>
    <tr>
      <th>Ratio_of_interest_income_to_total_assets</th>
      <td>7.02</td>
      <td>7.60</td>
      <td>7.57</td>
      <td>7.66</td>
      <td>8.07</td>
      <td>8.71</td>
      <td>7.50</td>
      <td>7.96</td>
      <td>8.25</td>
      <td>7.33</td>
      <td>8.27</td>
      <td>8.70</td>
    </tr>
    <tr>
      <th>Ratio_of_net_interest_margin_to_total_assets</th>
      <td>2.84</td>
      <td>2.64</td>
      <td>2.48</td>
      <td>3.03</td>
      <td>2.48</td>
      <td>2.52</td>
      <td>2.74</td>
      <td>2.01</td>
      <td>2.12</td>
      <td>2.36</td>
      <td>2.13</td>
      <td>2.35</td>
    </tr>
    <tr>
      <th>Ratio_of_noninterest_income_to_total_assets</th>
      <td>1.28</td>
      <td>1.35</td>
      <td>1.51</td>
      <td>1.59</td>
      <td>1.25</td>
      <td>1.32</td>
      <td>1.30</td>
      <td>1.22</td>
      <td>1.11</td>
      <td>1.17</td>
      <td>1.15</td>
      <td>1.12</td>
    </tr>
    <tr>
      <th>Ratio_of_intermediation_cost_to_total_assets</th>
      <td>2.23</td>
      <td>1.96</td>
      <td>1.86</td>
      <td>2.43</td>
      <td>1.98</td>
      <td>1.80</td>
      <td>1.80</td>
      <td>1.44</td>
      <td>1.35</td>
      <td>1.81</td>
      <td>1.60</td>
      <td>1.48</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_intermediation_cost</th>
      <td>67.10</td>
      <td>61.75</td>
      <td>62.29</td>
      <td>63.33</td>
      <td>59.63</td>
      <td>58.52</td>
      <td>60.84</td>
      <td>58.73</td>
      <td>59.17</td>
      <td>54.59</td>
      <td>50.81</td>
      <td>55.33</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_total_expense</th>
      <td>23.30</td>
      <td>17.48</td>
      <td>16.64</td>
      <td>21.79</td>
      <td>15.61</td>
      <td>13.19</td>
      <td>16.71</td>
      <td>11.47</td>
      <td>10.67</td>
      <td>14.59</td>
      <td>10.51</td>
      <td>10.43</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_total_income</th>
      <td>18.00</td>
      <td>13.51</td>
      <td>12.75</td>
      <td>16.63</td>
      <td>12.68</td>
      <td>10.50</td>
      <td>12.46</td>
      <td>9.24</td>
      <td>8.52</td>
      <td>11.64</td>
      <td>8.64</td>
      <td>8.31</td>
    </tr>
    <tr>
      <th>Ratio_of_burden_to_total_assets</th>
      <td>0.95</td>
      <td>0.61</td>
      <td>0.35</td>
      <td>0.84</td>
      <td>0.73</td>
      <td>0.48</td>
      <td>0.50</td>
      <td>0.22</td>
      <td>0.24</td>
      <td>0.64</td>
      <td>0.45</td>
      <td>0.35</td>
    </tr>
    <tr>
      <th>Ratio_of_burden_to_interest_income</th>
      <td>13.60</td>
      <td>8.00</td>
      <td>4.64</td>
      <td>10.93</td>
      <td>9.10</td>
      <td>5.52</td>
      <td>6.67</td>
      <td>2.76</td>
      <td>2.87</td>
      <td>8.77</td>
      <td>5.42</td>
      <td>4.04</td>
    </tr>
    <tr>
      <th>Ratio_of_operating_profits_to_total_assets</th>
      <td>1.89</td>
      <td>2.04</td>
      <td>2.13</td>
      <td>2.19</td>
      <td>1.75</td>
      <td>2.04</td>
      <td>2.24</td>
      <td>1.79</td>
      <td>1.88</td>
      <td>1.72</td>
      <td>1.68</td>
      <td>2.00</td>
    </tr>
    <tr>
      <th>Return_on_assets</th>
      <td>0.84</td>
      <td>1.01</td>
      <td>1.04</td>
      <td>1 0.87</td>
      <td>0.92</td>
      <td>1.14</td>
      <td>1.00</td>
      <td>0.91</td>
      <td>0.87</td>
      <td>0.88</td>
      <td>0.88</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Return_on_equity</th>
      <td>15.40</td>
      <td>16.75</td>
      <td>17.05</td>
      <td>19.99</td>
      <td>18.71</td>
      <td>21.46</td>
      <td>21.72</td>
      <td>21.28</td>
      <td>20.87</td>
      <td>17.31</td>
      <td>18.77</td>
      <td>19.36</td>
    </tr>
    <tr>
      <th>Cost_of_deposits</th>
      <td>4.59</td>
      <td>5.57</td>
      <td>5.93</td>
      <td>5.23</td>
      <td>6.23</td>
      <td>6.72</td>
      <td>5.36</td>
      <td>6.86</td>
      <td>6.95</td>
      <td>5.46</td>
      <td>6.59</td>
      <td>6.56</td>
    </tr>
    <tr>
      <th>Cost_of_deposits</th>
      <td>4.59</td>
      <td>5.57</td>
      <td>5.93</td>
      <td>5.23</td>
      <td>6.23</td>
      <td>6.72</td>
      <td>5.36</td>
      <td>6.86</td>
      <td>6.95</td>
      <td>5.46</td>
      <td>6.59</td>
      <td>6.56</td>
    </tr>
    <tr>
      <th>Cost_of_borrowings</th>
      <td>4.12</td>
      <td>6.43</td>
      <td>4.85</td>
      <td>4.49</td>
      <td>4.50</td>
      <td>10.24</td>
      <td>5.86</td>
      <td>6.52</td>
      <td>4.44</td>
      <td>5.02</td>
      <td>4.74</td>
      <td>8.84</td>
    </tr>
    <tr>
      <th>Cost_of_funds</th>
      <td>4.55</td>
      <td>5.64</td>
      <td>5.85</td>
      <td>5.2</td>
      <td>6.17</td>
      <td>6.81</td>
      <td>5.37</td>
      <td>6.86</td>
      <td>6.88</td>
      <td>5.43</td>
      <td>6.49</td>
      <td>6.63</td>
    </tr>
    <tr>
      <th>Return_on_advances</th>
      <td>8.29</td>
      <td>9.34</td>
      <td>9.68</td>
      <td>9.4</td>
      <td>10.14</td>
      <td>10.89</td>
      <td>9.03</td>
      <td>9.83</td>
      <td>10.57</td>
      <td>8.78</td>
      <td>10.11</td>
      <td>10.57</td>
    </tr>
    <tr>
      <th>Return_on_investments</th>
      <td>6.71</td>
      <td>7.05</td>
      <td>6.69</td>
      <td>7.3</td>
      <td>7.34</td>
      <td>7.29</td>
      <td>7.03</td>
      <td>7.53</td>
      <td>7.43</td>
      <td>7.19</td>
      <td>7.19</td>
      <td>7.17</td>
    </tr>
    <tr>
      <th>Return_on_advances_adjusted_to_cost_of_funds</th>
      <td>3.74</td>
      <td>3.70</td>
      <td>3.83</td>
      <td>4.2</td>
      <td>3.96</td>
      <td>4.08</td>
      <td>3.67</td>
      <td>2.98</td>
      <td>3.69</td>
      <td>3.35</td>
      <td>3.61</td>
      <td>3.94</td>
    </tr>
    <tr>
      <th>Return_on_investments_adjusted_to_cost_of_funds</th>
      <td>2.16</td>
      <td>1.41</td>
      <td>0.84</td>
      <td>2.1</td>
      <td>1.17</td>
      <td>0.49</td>
      <td>1.67</td>
      <td>0.67</td>
      <td>0.55</td>
      <td>1.76</td>
      <td>0.70</td>
      <td>0.54</td>
    </tr>
    <tr>
      <th>Business_per_employee_(in_Rs._lakh)</th>
      <td>357.00</td>
      <td>456.00</td>
      <td>556.00</td>
      <td>355.9</td>
      <td>445.45</td>
      <td>555.39</td>
      <td>473.60</td>
      <td>599.08</td>
      <td>839.82</td>
      <td>476.70</td>
      <td>604.37</td>
      <td>701.53</td>
    </tr>
    <tr>
      <th>Profit_per_employee_(in_Rs._lakh)</th>
      <td>2.37</td>
      <td>3.73</td>
      <td>4.74</td>
      <td>2.57</td>
      <td>2.73</td>
      <td>3.55</td>
      <td>3.92</td>
      <td>4.35</td>
      <td>4.87</td>
      <td>2.91</td>
      <td>3.73</td>
      <td>4.44</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio</th>
      <td>12.30</td>
      <td>13.54</td>
      <td>14.25</td>
      <td>12.89</td>
      <td>12.51</td>
      <td>14.52</td>
      <td>12.51</td>
      <td>12.35</td>
      <td>11.53</td>
      <td>11.77</td>
      <td>11.29</td>
      <td>13.46</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio_Tier_I</th>
      <td>8.01</td>
      <td>9.14</td>
      <td>9.38</td>
      <td>7.79</td>
      <td>6.95</td>
      <td>8.46</td>
      <td>8.25</td>
      <td>7.24</td>
      <td>7.14</td>
      <td>6.74</td>
      <td>7.01</td>
      <td>7.91</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio_Tier_II</th>
      <td>4.33</td>
      <td>4.40</td>
      <td>4.87</td>
      <td>5.1</td>
      <td>5.56</td>
      <td>6.06</td>
      <td>4.26</td>
      <td>5.11</td>
      <td>4.39</td>
      <td>5.03</td>
      <td>4.28</td>
      <td>5.55</td>
    </tr>
    <tr>
      <th>Ratio_of_net_NPA_to_net_advances</th>
      <td>1.56</td>
      <td>1.78</td>
      <td>1.76</td>
      <td>1.09</td>
      <td>0.83</td>
      <td>0.85</td>
      <td>0.22</td>
      <td>0.16</td>
      <td>0.38</td>
      <td>1.04</td>
      <td>0.73</td>
      <td>0.89</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
data_2007_2009_sbh = data_2007_2009[['2007.2', '2008.2', '2009.2']]
%store data_2007_2009_sbh
data_2007_2009_sbh

Stored 'data_2007_2009_sbh' (DataFrame)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2007.2</th>
      <th>2008.2</th>
      <th>2009.2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Cashdeposit_ratio</th>
      <td>6.92</td>
      <td>11.07</td>
      <td>8.69</td>
    </tr>
    <tr>
      <th>Creditdeposit_ratio</th>
      <td>67.73</td>
      <td>71.54</td>
      <td>69.94</td>
    </tr>
    <tr>
      <th>Investmentdeposit_ratio</th>
      <td>33.54</td>
      <td>31.99</td>
      <td>33.60</td>
    </tr>
    <tr>
      <th>(Credit_+ Investment)_deposit_ratio</th>
      <td>101.30</td>
      <td>103.53</td>
      <td>103.54</td>
    </tr>
    <tr>
      <th>Ratio_of_deposits_to_total_liabilities</th>
      <td>84.61</td>
      <td>81.32</td>
      <td>81.40</td>
    </tr>
    <tr>
      <th>Ratio_of_term_deposits_to_total_deposits</th>
      <td>68.62</td>
      <td>69.40</td>
      <td>69.33</td>
    </tr>
    <tr>
      <th>Ratio_of_priority_sector_advances_to_total_advances</th>
      <td>38.99</td>
      <td>32.78</td>
      <td>31.97</td>
    </tr>
    <tr>
      <th>Ratio_of_term_loan_to_total_advances</th>
      <td>59.86</td>
      <td>61.23</td>
      <td>58.40</td>
    </tr>
    <tr>
      <th>Ratio_of_secured_advances_to_total_advances</th>
      <td>79.70</td>
      <td>82.92</td>
      <td>81.70</td>
    </tr>
    <tr>
      <th>Ratio_of_investments_in_nonapproved_securites_to_total_investments</th>
      <td>4.47</td>
      <td>12.61</td>
      <td>13.07</td>
    </tr>
    <tr>
      <th>Ratio_of_interest_income_to_total_assets</th>
      <td>7.50</td>
      <td>7.96</td>
      <td>8.25</td>
    </tr>
    <tr>
      <th>Ratio_of_net_interest_margin_to_total_assets</th>
      <td>2.74</td>
      <td>2.01</td>
      <td>2.12</td>
    </tr>
    <tr>
      <th>Ratio_of_noninterest_income_to_total_assets</th>
      <td>1.30</td>
      <td>1.22</td>
      <td>1.11</td>
    </tr>
    <tr>
      <th>Ratio_of_intermediation_cost_to_total_assets</th>
      <td>1.80</td>
      <td>1.44</td>
      <td>1.35</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_intermediation_cost</th>
      <td>60.84</td>
      <td>58.73</td>
      <td>59.17</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_total_expense</th>
      <td>16.71</td>
      <td>11.47</td>
      <td>10.67</td>
    </tr>
    <tr>
      <th>Ratio_of_wage_bills_to_total_income</th>
      <td>12.46</td>
      <td>9.24</td>
      <td>8.52</td>
    </tr>
    <tr>
      <th>Ratio_of_burden_to_total_assets</th>
      <td>0.50</td>
      <td>0.22</td>
      <td>0.24</td>
    </tr>
    <tr>
      <th>Ratio_of_burden_to_interest_income</th>
      <td>6.67</td>
      <td>2.76</td>
      <td>2.87</td>
    </tr>
    <tr>
      <th>Ratio_of_operating_profits_to_total_assets</th>
      <td>2.24</td>
      <td>1.79</td>
      <td>1.88</td>
    </tr>
    <tr>
      <th>Return_on_assets</th>
      <td>1.00</td>
      <td>0.91</td>
      <td>0.87</td>
    </tr>
    <tr>
      <th>Return_on_equity</th>
      <td>21.72</td>
      <td>21.28</td>
      <td>20.87</td>
    </tr>
    <tr>
      <th>Cost_of_deposits</th>
      <td>5.36</td>
      <td>6.86</td>
      <td>6.95</td>
    </tr>
    <tr>
      <th>Cost_of_deposits</th>
      <td>5.36</td>
      <td>6.86</td>
      <td>6.95</td>
    </tr>
    <tr>
      <th>Cost_of_borrowings</th>
      <td>5.86</td>
      <td>6.52</td>
      <td>4.44</td>
    </tr>
    <tr>
      <th>Cost_of_funds</th>
      <td>5.37</td>
      <td>6.86</td>
      <td>6.88</td>
    </tr>
    <tr>
      <th>Return_on_advances</th>
      <td>9.03</td>
      <td>9.83</td>
      <td>10.57</td>
    </tr>
    <tr>
      <th>Return_on_investments</th>
      <td>7.03</td>
      <td>7.53</td>
      <td>7.43</td>
    </tr>
    <tr>
      <th>Return_on_advances_adjusted_to_cost_of_funds</th>
      <td>3.67</td>
      <td>2.98</td>
      <td>3.69</td>
    </tr>
    <tr>
      <th>Return_on_investments_adjusted_to_cost_of_funds</th>
      <td>1.67</td>
      <td>0.67</td>
      <td>0.55</td>
    </tr>
    <tr>
      <th>Business_per_employee_(in_Rs._lakh)</th>
      <td>473.60</td>
      <td>599.08</td>
      <td>839.82</td>
    </tr>
    <tr>
      <th>Profit_per_employee_(in_Rs._lakh)</th>
      <td>3.92</td>
      <td>4.35</td>
      <td>4.87</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio</th>
      <td>12.51</td>
      <td>12.35</td>
      <td>11.53</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio_Tier_I</th>
      <td>8.25</td>
      <td>7.24</td>
      <td>7.14</td>
    </tr>
    <tr>
      <th>Capital_adequacy_ratio_Tier_II</th>
      <td>4.26</td>
      <td>5.11</td>
      <td>4.39</td>
    </tr>
    <tr>
      <th>Ratio_of_net_NPA_to_net_advances</th>
      <td>0.22</td>
      <td>0.16</td>
      <td>0.38</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
data_NPA_1996_2000 = pd.read_csv('Dataset/Bank Data/NPA_1996_2000.csv', index_col=0, names=[1997, 1998, 1999, 2000,
                                                                                            1997, 1998, 1999, 2000])
data_NPA_1996_2000

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1997</th>
      <th>1998</th>
      <th>1999</th>
      <th>2000</th>
      <th>1997.1</th>
      <th>1998.1</th>
      <th>1999.1</th>
      <th>2000.1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Nationalised_Banks</th>
      <td>8.30</td>
      <td>7.24</td>
      <td>6.83</td>
      <td>6.00</td>
      <td>3.95</td>
      <td>3.48</td>
      <td>3.26</td>
      <td>3.1500</td>
    </tr>
    <tr>
      <th>Allahabad_Bank</th>
      <td>9.89</td>
      <td>9.63</td>
      <td>8.72</td>
      <td>8.59</td>
      <td>5.48</td>
      <td>5.67</td>
      <td>4.98</td>
      <td>5.0900</td>
    </tr>
    <tr>
      <th>Andhra_Bank</th>
      <td>4.43</td>
      <td>3.70</td>
      <td>3.90</td>
      <td>2.89</td>
      <td>1.41</td>
      <td>1.02</td>
      <td>1.67</td>
      <td>1.2300</td>
    </tr>
    <tr>
      <th>Bank_of_Baroda</th>
      <td>8.28</td>
      <td>6.83</td>
      <td>7.06</td>
      <td>6.65</td>
      <td>3.93</td>
      <td>2.81</td>
      <td>3.08</td>
      <td>2.8800</td>
    </tr>
    <tr>
      <th>Bank_of_India</th>
      <td>6.00</td>
      <td>5.76</td>
      <td>5.63</td>
      <td>6.23</td>
      <td>3.13</td>
      <td>3.39</td>
      <td>3.29</td>
      <td>3.9600</td>
    </tr>
    <tr>
      <th>Bank_of_Maharashtra</th>
      <td>8.55</td>
      <td>6.65</td>
      <td>5.87</td>
      <td>4.71</td>
      <td>3.51</td>
      <td>2.97</td>
      <td>2.95</td>
      <td>2.4300</td>
    </tr>
    <tr>
      <th>Canara_Bank</th>
      <td>9.32</td>
      <td>8.31</td>
      <td>8.46</td>
      <td>4.29</td>
      <td>3.77</td>
      <td>2.93</td>
      <td>2.88</td>
      <td>2.2800</td>
    </tr>
    <tr>
      <th>Central_Bank_of_India</th>
      <td>9.55</td>
      <td>7.91</td>
      <td>6.90</td>
      <td>6.87</td>
      <td>4.80</td>
      <td>4.28</td>
      <td>3.55</td>
      <td>3.7600</td>
    </tr>
    <tr>
      <th>Corporation_Bank</th>
      <td>3.87</td>
      <td>3.05</td>
      <td>2.46</td>
      <td>2.58</td>
      <td>1.32</td>
      <td>1.12</td>
      <td>0.83</td>
      <td>0.8900</td>
    </tr>
    <tr>
      <th>Dena_Bank</th>
      <td>6.94</td>
      <td>6.32</td>
      <td>5.78</td>
      <td>8.31</td>
      <td>4.06</td>
      <td>3.58</td>
      <td>3.40</td>
      <td>5.8300</td>
    </tr>
    <tr>
      <th>Indian_Bank</th>
      <td>19.39</td>
      <td>17.62</td>
      <td>17.34</td>
      <td>14.26</td>
      <td>10.19</td>
      <td>9.71</td>
      <td>7.57</td>
      <td>5.6400</td>
    </tr>
    <tr>
      <th>Indian_Overseas_Bank</th>
      <td>7.35</td>
      <td>5.86</td>
      <td>5.89</td>
      <td>5.88</td>
      <td>3.09</td>
      <td>2.53</td>
      <td>3.02</td>
      <td>3.2100</td>
    </tr>
    <tr>
      <th>Oriental_Bank_of_Commerce</th>
      <td>3.18</td>
      <td>2.69</td>
      <td>2.65</td>
      <td>2.15</td>
      <td>2.39</td>
      <td>1.94</td>
      <td>1.85</td>
      <td>1.3700</td>
    </tr>
    <tr>
      <th>Punjab_&amp; Sind_Bank</th>
      <td>14.35</td>
      <td>11.50</td>
      <td>10.35</td>
      <td>6.53</td>
      <td>4.43</td>
      <td>3.82</td>
      <td>4.06</td>
      <td>3.7600</td>
    </tr>
    <tr>
      <th>Punjab_National_Bank</th>
      <td>6.92</td>
      <td>6.15</td>
      <td>6.11</td>
      <td>5.78</td>
      <td>4.11</td>
      <td>3.84</td>
      <td>3.66</td>
      <td>3.5400</td>
    </tr>
    <tr>
      <th>Syndicate_Bank</th>
      <td>7.38</td>
      <td>6.09</td>
      <td>4.91</td>
      <td>3.65</td>
      <td>2.51</td>
      <td>2.06</td>
      <td>1.68</td>
      <td>1.4200</td>
    </tr>
    <tr>
      <th>UCO_Bank</th>
      <td>11.46</td>
      <td>9.58</td>
      <td>8.27</td>
      <td>7.01</td>
      <td>4.61</td>
      <td>3.79</td>
      <td>3.45</td>
      <td>2.9000</td>
    </tr>
    <tr>
      <th>Union_Bank_of_India</th>
      <td>4.41</td>
      <td>4.64</td>
      <td>4.68</td>
      <td>5.37</td>
      <td>2.86</td>
      <td>3.06</td>
      <td>3.15</td>
      <td>3.3200</td>
    </tr>
    <tr>
      <th>United_Bank_of_India</th>
      <td>10.97</td>
      <td>10.08</td>
      <td>9.00</td>
      <td>7.79</td>
      <td>4.45</td>
      <td>3.28</td>
      <td>3.33</td>
      <td>3.0100</td>
    </tr>
    <tr>
      <th>Vijaya_Bank</th>
      <td>6.36</td>
      <td>5.65</td>
      <td>4.95</td>
      <td>4.43</td>
      <td>2.92</td>
      <td>2.93</td>
      <td>2.26</td>
      <td>2.4200</td>
    </tr>
    <tr>
      <th>State_Bank_Group</th>
      <td>7.03</td>
      <td>6.67</td>
      <td>6.52</td>
      <td>5.88</td>
      <td>3.12</td>
      <td>2.89</td>
      <td>2.94</td>
      <td>2.6000</td>
    </tr>
    <tr>
      <th>State_Bank_of_India</th>
      <td>7.01</td>
      <td>6.38</td>
      <td>6.32</td>
      <td>5.83</td>
      <td>2.89</td>
      <td>2.50</td>
      <td>2.65</td>
      <td>2.4000</td>
    </tr>
    <tr>
      <th>State_Bank_of_Bikaner_&amp; Jaipur</th>
      <td>5.59</td>
      <td>5.43</td>
      <td>6.60</td>
      <td>6.20</td>
      <td>3.01</td>
      <td>3.14</td>
      <td>4.01</td>
      <td>3.6400</td>
    </tr>
    <tr>
      <th>State_Bank_of_Hyderabad</th>
      <td>9.01</td>
      <td>9.09</td>
      <td>7.00</td>
      <td>6.03</td>
      <td>4.89</td>
      <td>4.74</td>
      <td>3.55</td>
      <td>2.8600</td>
    </tr>
    <tr>
      <th>State_Bank_of_Indore</th>
      <td>7.66</td>
      <td>7.33</td>
      <td>6.60</td>
      <td>5.06</td>
      <td>5.19</td>
      <td>5.09</td>
      <td>4.30</td>
      <td>3.4200</td>
    </tr>
    <tr>
      <th>State_Bank_of_Mysore</th>
      <td>8.57</td>
      <td>9.19</td>
      <td>8.57</td>
      <td>6.64</td>
      <td>5.18</td>
      <td>5.23</td>
      <td>4.95</td>
      <td>3.6400</td>
    </tr>
    <tr>
      <th>State_Bank_of_Patiala</th>
      <td>5.24</td>
      <td>5.34</td>
      <td>6.61</td>
      <td>5.41</td>
      <td>2.57</td>
      <td>3.00</td>
      <td>3.65</td>
      <td>2.8400</td>
    </tr>
    <tr>
      <th>State_Bank_of_Saurashtra</th>
      <td>6.63</td>
      <td>7.01</td>
      <td>7.19</td>
      <td>6.23</td>
      <td>2.65</td>
      <td>3.02</td>
      <td>3.28</td>
      <td>3.3400</td>
    </tr>
    <tr>
      <th>State_Bank_of_Travancore</th>
      <td>7.53</td>
      <td>9.97</td>
      <td>8.11</td>
      <td>6.52</td>
      <td>4.30</td>
      <td>5.53</td>
      <td>4.34</td>
      <td>3.6300</td>
    </tr>
    <tr>
      <th>Public_Sector_Banks</th>
      <td>7.83</td>
      <td>7.03</td>
      <td>6.71</td>
      <td>5.95</td>
      <td>3.65</td>
      <td>3.27</td>
      <td>3.14</td>
      <td>2.9411</td>
    </tr>
    <tr>
      <th>Public_Sector_Banks</th>
      <td>7.83</td>
      <td>7.03</td>
      <td>6.71</td>
      <td>5.95</td>
      <td>3.65</td>
      <td>3.27</td>
      <td>3.14</td>
      <td>2.9400</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
data_NPA_1996_2000.to_csv('Dataset/Bank Data/NPA_1996_2000.csv')

In [19]:
data_NPA_1996_2000_sbh = data_NPA_1996_2000.loc['State_Bank_of_Hyderabad', [1999, 2000, '1999.1', '2000.1']]
data_NPA_1996_2000_sbh
data_NPA_1996_2000_sbh

1999      7.00
2000      6.03
1999.1    3.55
2000.1    2.86
Name: State_Bank_of_Hyderabad, dtype: float64

In [21]:
data_NPA_1996_2000_sbh = pd.DataFrame(data_NPA_1996_2000_sbh.values.reshape(2, 2), 
                                      columns=[1999, 2000], 
                                      index=['Gross NPAs/Total Assets', 'Net NPAs/Total Assets'])
data_NPA_1996_2000_sbh
%store data_NPA_1996_2000_sbh
data_NPA_1996_2000_sbh.to_csv('Dataset/Bank Data/NPA_1996_2000_sbh.csv')

Stored 'data_NPA_1996_2000_sbh' (DataFrame)

In [25]:
data_NPA_2000_2006 = pd.read_csv('Dataset/Bank Data/NPA_2000_2006.csv', index_col=0)
data_NPA_2000_2006

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2001</th>
      <th>2002</th>
      <th>2003</th>
      <th>2004</th>
      <th>2005</th>
      <th>2006</th>
      <th>2001.1</th>
      <th>2002.1</th>
      <th>2003.1</th>
      <th>2004.1</th>
      <th>2005.1</th>
      <th>2006.1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Allahabad_Bank</th>
      <td>8.26</td>
      <td>8.08</td>
      <td>6.56</td>
      <td>4.09</td>
      <td>2.84</td>
      <td>2.14</td>
      <td>4.87</td>
      <td>4.68</td>
      <td>3.16</td>
      <td>1.05</td>
      <td>0.60</td>
      <td>0.45</td>
    </tr>
    <tr>
      <th>Andhra_Bank</th>
      <td>2.31</td>
      <td>2.50</td>
      <td>2.35</td>
      <td>2.28</td>
      <td>1.35</td>
      <td>1.07</td>
      <td>1.07</td>
      <td>1.13</td>
      <td>0.84</td>
      <td>0.44</td>
      <td>0.15</td>
      <td>0.13</td>
    </tr>
    <tr>
      <th>Bank_of_Baroda</th>
      <td>6.61</td>
      <td>6.33</td>
      <td>5.45</td>
      <td>4.68</td>
      <td>3.51</td>
      <td>2.11</td>
      <td>2.92</td>
      <td>2.70</td>
      <td>2.22</td>
      <td>2.07</td>
      <td>0.65</td>
      <td>0.46</td>
    </tr>
    <tr>
      <th>Bank_of_India</th>
      <td>5.76</td>
      <td>5.33</td>
      <td>4.99</td>
      <td>4.40</td>
      <td>3.32</td>
      <td>2.21</td>
      <td>3.59</td>
      <td>3.30</td>
      <td>3.00</td>
      <td>2.43</td>
      <td>1.64</td>
      <td>0.86</td>
    </tr>
    <tr>
      <th>Bank_of_Maharashtra</th>
      <td>4.60</td>
      <td>4.22</td>
      <td>3.84</td>
      <td>2.96</td>
      <td>2.93</td>
      <td>3.02</td>
      <td>2.61</td>
      <td>2.23</td>
      <td>1.84</td>
      <td>0.89</td>
      <td>0.85</td>
      <td>1.07</td>
    </tr>
    <tr>
      <th>Canara_Bank</th>
      <td>3.23</td>
      <td>2.93</td>
      <td>3.02</td>
      <td>3.15</td>
      <td>2.15</td>
      <td>1.35</td>
      <td>2.02</td>
      <td>1.79</td>
      <td>1.77</td>
      <td>1.39</td>
      <td>1.02</td>
      <td>0.66</td>
    </tr>
    <tr>
      <th>Central_Bank_of_India</th>
      <td>6.88</td>
      <td>6.42</td>
      <td>5.68</td>
      <td>4.88</td>
      <td>3.82</td>
      <td>3.59</td>
      <td>3.87</td>
      <td>3.23</td>
      <td>2.74</td>
      <td>2.01</td>
      <td>1.19</td>
      <td>1.30</td>
    </tr>
    <tr>
      <th>Corporation_Bank</th>
      <td>2.46</td>
      <td>2.49</td>
      <td>2.50</td>
      <td>2.48</td>
      <td>1.91</td>
      <td>1.54</td>
      <td>0.87</td>
      <td>1.07</td>
      <td>0.76</td>
      <td>0.86</td>
      <td>0.61</td>
      <td>0.38</td>
    </tr>
    <tr>
      <th>Dena_Bank</th>
      <td>10.77</td>
      <td>10.59</td>
      <td>8.02</td>
      <td>6.70</td>
      <td>4.78</td>
      <td>3.58</td>
      <td>7.15</td>
      <td>6.51</td>
      <td>4.95</td>
      <td>3.99</td>
      <td>2.46</td>
      <td>1.63</td>
    </tr>
    <tr>
      <th>Indian_Bank</th>
      <td>8.86</td>
      <td>7.19</td>
      <td>4.61</td>
      <td>3.04</td>
      <td>1.71</td>
      <td>1.40</td>
      <td>3.57</td>
      <td>2.99</td>
      <td>2.13</td>
      <td>0.98</td>
      <td>0.56</td>
      <td>0.37</td>
    </tr>
    <tr>
      <th>Indian_Overseas_Bank</th>
      <td>5.39</td>
      <td>5.13</td>
      <td>4.61</td>
      <td>3.33</td>
      <td>2.73</td>
      <td>2.07</td>
      <td>3.03</td>
      <td>2.70</td>
      <td>2.22</td>
      <td>1.22</td>
      <td>0.63</td>
      <td>0.38</td>
    </tr>
    <tr>
      <th>Oriental_Bank_of_Commerce</th>
      <td>2.16</td>
      <td>2.95</td>
      <td>3.37</td>
      <td>2.95</td>
      <td>4.61</td>
      <td>3.59</td>
      <td>1.47</td>
      <td>1.41</td>
      <td>0.66</td>
      <td>0.61</td>
      <td>0.28</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Punjab_&amp; Sind_Bank</th>
      <td>7.66</td>
      <td>7.94</td>
      <td>8.60</td>
      <td>8.02</td>
      <td>7.62</td>
      <td>4.94</td>
      <td>4.73</td>
      <td>4.73</td>
      <td>4.41</td>
      <td>3.85</td>
      <td>3.24</td>
      <td>1.16</td>
    </tr>
    <tr>
      <th>Punjab_National_Bank</th>
      <td>5.45</td>
      <td>5.68</td>
      <td>5.78</td>
      <td>4.56</td>
      <td>2.96</td>
      <td>2.16</td>
      <td>2.95</td>
      <td>2.48</td>
      <td>1.77</td>
      <td>0.44</td>
      <td>0.09</td>
      <td>0.14</td>
    </tr>
    <tr>
      <th>Syndicate_Bank</th>
      <td>3.80</td>
      <td>4.08</td>
      <td>4.12</td>
      <td>3.37</td>
      <td>2.75</td>
      <td>2.47</td>
      <td>1.89</td>
      <td>2.12</td>
      <td>2.03</td>
      <td>1.13</td>
      <td>0.82</td>
      <td>0.51</td>
    </tr>
    <tr>
      <th>UCO_Bank</th>
      <td>4.67</td>
      <td>4.25</td>
      <td>3.91</td>
      <td>3.38</td>
      <td>2.56</td>
      <td>2.00</td>
      <td>2.38</td>
      <td>2.31</td>
      <td>2.00</td>
      <td>1.72</td>
      <td>1.49</td>
      <td>1.27</td>
    </tr>
    <tr>
      <th>Union_Bank_of_India</th>
      <td>5.28</td>
      <td>5.46</td>
      <td>4.68</td>
      <td>4.02</td>
      <td>2.84</td>
      <td>2.35</td>
      <td>3.08</td>
      <td>3.02</td>
      <td>2.45</td>
      <td>1.45</td>
      <td>1.46</td>
      <td>0.94</td>
    </tr>
    <tr>
      <th>United_Bank_of_India</th>
      <td>6.57</td>
      <td>5.34</td>
      <td>3.95</td>
      <td>2.96</td>
      <td>2.50</td>
      <td>2.24</td>
      <td>2.80</td>
      <td>2.38</td>
      <td>1.67</td>
      <td>1.16</td>
      <td>0.95</td>
      <td>0.91</td>
    </tr>
    <tr>
      <th>Vijaya_Bank</th>
      <td>4.17</td>
      <td>3.73</td>
      <td>2.65</td>
      <td>1.62</td>
      <td>1.47</td>
      <td>1.71</td>
      <td>2.50</td>
      <td>2.31</td>
      <td>1.08</td>
      <td>0.42</td>
      <td>0.29</td>
      <td>0.45</td>
    </tr>
    <tr>
      <th>State_Bank_Group</th>
      <td>5.11</td>
      <td>4.39</td>
      <td>3.48</td>
      <td>2.91</td>
      <td>2.49</td>
      <td>1.92</td>
      <td>2.35</td>
      <td>2.00</td>
      <td>1.58</td>
      <td>1.09</td>
      <td>1.01</td>
      <td>0.88</td>
    </tr>
    <tr>
      <th>Nationalised_Banks</th>
      <td>5.44</td>
      <td>5.21</td>
      <td>4.66</td>
      <td>3.86</td>
      <td>2.96</td>
      <td>2.24</td>
      <td>2.95</td>
      <td>2.69</td>
      <td>2.16</td>
      <td>1.40</td>
      <td>0.91</td>
      <td>0.64</td>
    </tr>
    <tr>
      <th>State_Bank_of_India</th>
      <td>5.03</td>
      <td>4.45</td>
      <td>3.59</td>
      <td>3.11</td>
      <td>2.71</td>
      <td>2.10</td>
      <td>2.17</td>
      <td>1.96</td>
      <td>1.64</td>
      <td>1.33</td>
      <td>1.16</td>
      <td>0.99</td>
    </tr>
    <tr>
      <th>State_Bank_of_Bikaner_&amp; Jaipur</th>
      <td>5.15</td>
      <td>3.77</td>
      <td>3.23</td>
      <td>2.40</td>
      <td>1.71</td>
      <td>1.41</td>
      <td>2.95</td>
      <td>2.21</td>
      <td>1.57</td>
      <td>0.53</td>
      <td>0.83</td>
      <td>0.68</td>
    </tr>
    <tr>
      <th>State_Bank_of_Hyderabad</th>
      <td>5.84</td>
      <td>4.06</td>
      <td>2.83</td>
      <td>2.26</td>
      <td>1.58</td>
      <td>1.12</td>
      <td>3.01</td>
      <td>1.89</td>
      <td>1.21</td>
      <td>0.25</td>
      <td>0.27</td>
      <td>0.19</td>
    </tr>
    <tr>
      <th>State_Bank_of_Indore</th>
      <td>3.95</td>
      <td>3.25</td>
      <td>2.60</td>
      <td>2.04</td>
      <td>1.80</td>
      <td>1.75</td>
      <td>2.46</td>
      <td>1.56</td>
      <td>1.21</td>
      <td>0.54</td>
      <td>1.05</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>State_Bank_of</th>
      <td>6.17</td>
      <td>6.03</td>
      <td>4.96</td>
      <td>3.74</td>
      <td>2.51</td>
      <td>2.06</td>
      <td>3.58</td>
      <td>3.49</td>
      <td>2.41</td>
      <td>1.35</td>
      <td>0.49</td>
      <td>0.45</td>
    </tr>
    <tr>
      <th>State_Bank_of_Mysore</th>
      <td>6.17</td>
      <td>6.03</td>
      <td>4.96</td>
      <td>3.74</td>
      <td>2.51</td>
      <td>2.06</td>
      <td>3.58</td>
      <td>3.49</td>
      <td>2.41</td>
      <td>1.35</td>
      <td>0.49</td>
      <td>0.45</td>
    </tr>
    <tr>
      <th>State_Bank_of_Patiala</th>
      <td>4.85</td>
      <td>3.62</td>
      <td>2.51</td>
      <td>1.87</td>
      <td>2.07</td>
      <td>1.31</td>
      <td>2.35</td>
      <td>1.47</td>
      <td>0.75</td>
      <td>0.60</td>
      <td>0.53</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>State_Bank_of_Saurashtra</th>
      <td>6.62</td>
      <td>4.73</td>
      <td>3.09</td>
      <td>1.56</td>
      <td>1.22</td>
      <td>0.95</td>
      <td>3.06</td>
      <td>2.17</td>
      <td>1.43</td>
      <td>0.63</td>
      <td>0.59</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>State_Bank_of_Travancore</th>
      <td>5.23</td>
      <td>4.41</td>
      <td>3.34</td>
      <td>2.76</td>
      <td>2.26</td>
      <td>1.91</td>
      <td>3.42</td>
      <td>2.58</td>
      <td>1.47</td>
      <td>0.64</td>
      <td>0.93</td>
      <td>0.87</td>
    </tr>
    <tr>
      <th>Other_Public_Sector_Banks_IDBI_Ltd.</th>
      <td>1.49</td>
      <td>1.26</td>
      <td>1.04</td>
      <td>0.64</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Public_Sector_Banks</th>
      <td>5.31</td>
      <td>4.89</td>
      <td>4.21</td>
      <td>3.50</td>
      <td>2.73</td>
      <td>2.09</td>
      <td>2.72</td>
      <td>2.42</td>
      <td>1.93</td>
      <td>1.28</td>
      <td>0.95</td>
      <td>0.72</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
data_NPA_2000_2006_sbh = data_NPA_2000_2006.loc['State_Bank_of_Hyderabad', 
                                                ['2001', '2002', '2003', '2004', '2005', '2006', 
                                                 '2001.1', '2002.1', '2003.1', '2004.1', '2005.1', '2006.1']]
data_NPA_2000_2006_sbh

2001      5.84
2002      4.06
2003      2.83
2004      2.26
2005      1.58
2006      1.12
2001.1    3.01
2002.1    1.89
2003.1    1.21
2004.1    0.25
2005.1    0.27
2006.1    0.19
Name: State_Bank_of_Hyderabad, dtype: float64

In [33]:
data_NPA_2000_2006_sbh = pd.DataFrame(data_NPA_2000_2006_sbh.values.reshape(2, 6),
                                      columns=[2001, 2002, 2003, 2004, 2005, 2006],
                                      index=['Gross NPAs/Total Assets', 'Net NPAs/Total Assets'])
data_NPA_2000_2006_sbh
%store data_NPA_2000_2006_sbh
data_NPA_2000_2006_sbh.to_csv('Dataset/Bank Data/NPA_2006_2009_sbh.csv')

Stored 'data_NPA_2000_2006_sbh' (DataFrame)

In [34]:
data_NPA_2000_2006_sbh

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2001</th>
      <th>2002</th>
      <th>2003</th>
      <th>2004</th>
      <th>2005</th>
      <th>2006</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Gross NPAs/Total Assets</th>
      <td>5.84</td>
      <td>4.06</td>
      <td>2.83</td>
      <td>2.26</td>
      <td>1.58</td>
      <td>1.12</td>
    </tr>
    <tr>
      <th>Net NPAs/Total Assets</th>
      <td>3.01</td>
      <td>1.89</td>
      <td>1.21</td>
      <td>0.25</td>
      <td>0.27</td>
      <td>0.19</td>
    </tr>
  </tbody>
</table>
</div>

In [41]:
data_NPA_2006_2009 = pd.read_csv('Dataset/Bank Data/NPA_2006_2009.csv', index_col=0, names=[2007, 2008, 2009,
                                            2007, 2008, 2009])
data_NPA_2006_2009

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2007</th>
      <th>2008</th>
      <th>2009</th>
      <th>2007.1</th>
      <th>2008.1</th>
      <th>2009.1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Scheduled_Commercial_Banks</th>
      <td>1.5</td>
      <td>1.3</td>
      <td>1.3</td>
      <td>0.6</td>
      <td>0.6</td>
      <td>0.6</td>
    </tr>
    <tr>
      <th>Public_Sector_Banks</th>
      <td>1.6</td>
      <td>1.3</td>
      <td>1.2</td>
      <td>0.6</td>
      <td>0.6</td>
      <td>0.6</td>
    </tr>
    <tr>
      <th>Nationalised_Banks</th>
      <td>1.6</td>
      <td>1.3</td>
      <td>1.1</td>
      <td>0.5</td>
      <td>0.4</td>
      <td>0.4</td>
    </tr>
    <tr>
      <th>Allahabad_Bank</th>
      <td>1.6</td>
      <td>1.2</td>
      <td>1.1</td>
      <td>0.7</td>
      <td>0.5</td>
      <td>0.4</td>
    </tr>
    <tr>
      <th>Andhra_Bank</th>
      <td>0.8</td>
      <td>0.7</td>
      <td>0.5</td>
      <td>0.1</td>
      <td>0.1</td>
      <td>0.1</td>
    </tr>
    <tr>
      <th>Bank_of_Baroda</th>
      <td>1.5</td>
      <td>1.1</td>
      <td>0.8</td>
      <td>0.4</td>
      <td>0.3</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>Bank_of_India</th>
      <td>1.5</td>
      <td>1.1</td>
      <td>1.1</td>
      <td>0.4</td>
      <td>0.3</td>
      <td>0.3</td>
    </tr>
    <tr>
      <th>Bank_of_Maharashtra</th>
      <td>2.1</td>
      <td>1.6</td>
      <td>1.4</td>
      <td>0.7</td>
      <td>0.5</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>Canara_Bank</th>
      <td>0.9</td>
      <td>0.7</td>
      <td>1.0</td>
      <td>0.6</td>
      <td>0.5</td>
      <td>0.7</td>
    </tr>
    <tr>
      <th>Central_Bank_of_India</th>
      <td>2.8</td>
      <td>1.9</td>
      <td>1.6</td>
      <td>0.9</td>
      <td>0.9</td>
      <td>0.7</td>
    </tr>
    <tr>
      <th>Corporation_Bank</th>
      <td>1.2</td>
      <td>0.9</td>
      <td>0.6</td>
      <td>0.3</td>
      <td>0.2</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>Dena_Bank</th>
      <td>2.4</td>
      <td>1.5</td>
      <td>1.3</td>
      <td>1.2</td>
      <td>0.6</td>
      <td>0.6</td>
    </tr>
    <tr>
      <th>Indian_Bank</th>
      <td>1.0</td>
      <td>0.7</td>
      <td>0.5</td>
      <td>0.2</td>
      <td>0.1</td>
      <td>0.1</td>
    </tr>
    <tr>
      <th>Indian_Overseas_Bank</th>
      <td>1.4</td>
      <td>1.0</td>
      <td>1.6</td>
      <td>0.3</td>
      <td>0.4</td>
      <td>0.8</td>
    </tr>
    <tr>
      <th>Oriental_Bank_of_Commerce</th>
      <td>2.0</td>
      <td>1.4</td>
      <td>0.9</td>
      <td>0.3</td>
      <td>0.6</td>
      <td>0.4</td>
    </tr>
    <tr>
      <th>Punjab_&amp; Sind_Bank</th>
      <td>1.3</td>
      <td>0.4</td>
      <td>0.4</td>
      <td>0.4</td>
      <td>0.2</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>Punjab_National_Bank</th>
      <td>2.1</td>
      <td>1.7</td>
      <td>1.1</td>
      <td>0.4</td>
      <td>0.4</td>
      <td>0.1</td>
    </tr>
    <tr>
      <th>Syndicate_Bank</th>
      <td>1.7</td>
      <td>1.7</td>
      <td>1.2</td>
      <td>0.4</td>
      <td>0.6</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>UCO_Bank</th>
      <td>2.0</td>
      <td>1.8</td>
      <td>1.4</td>
      <td>1.3</td>
      <td>1.2</td>
      <td>0.7</td>
    </tr>
    <tr>
      <th>Union_Bank_of_India</th>
      <td>1.8</td>
      <td>1.3</td>
      <td>1.2</td>
      <td>0.6</td>
      <td>0.1</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>United_Bank_of_India</th>
      <td>1.9</td>
      <td>1.4</td>
      <td>1.6</td>
      <td>0.8</td>
      <td>0.6</td>
      <td>0.8</td>
    </tr>
    <tr>
      <th>Vijaya_Bank</th>
      <td>1.3</td>
      <td>0.9</td>
      <td>1.1</td>
      <td>0.3</td>
      <td>0.3</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>State_Bank_Group</th>
      <td>1.6</td>
      <td>1.5</td>
      <td>1.4</td>
      <td>0.8</td>
      <td>0.8</td>
      <td>0.8</td>
    </tr>
    <tr>
      <th>State_Bank_of_India</th>
      <td>1.8</td>
      <td>1.8</td>
      <td>1.6</td>
      <td>0.9</td>
      <td>1.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>State_Bank_of_Bikaner_&amp;</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Jaipur</th>
      <td>1.3</td>
      <td>1.1</td>
      <td>1.1</td>
      <td>0.6</td>
      <td>0.5</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>State_Bank_of_Hyderabad</th>
      <td>0.7</td>
      <td>0.5</td>
      <td>0.6</td>
      <td>0.1</td>
      <td>0.1</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>State_Bank_of_Indore</th>
      <td>1.2</td>
      <td>0.9</td>
      <td>0.9</td>
      <td>0.6</td>
      <td>0.5</td>
      <td>0.6</td>
    </tr>
    <tr>
      <th>State_Bank_of_Mysore</th>
      <td>1.4</td>
      <td>1.1</td>
      <td>0.9</td>
      <td>0.3</td>
      <td>0.3</td>
      <td>0.3</td>
    </tr>
    <tr>
      <th>State_Bank_of_Patiala</th>
      <td>1.1</td>
      <td>0.9</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>0.4</td>
      <td>0.4</td>
    </tr>
    <tr>
      <th>State_Bank_of_Saurashtra</th>
      <td>0.6</td>
      <td>0.8</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>State_Bank_of_Travancore</th>
      <td>1.4</td>
      <td>1.3</td>
      <td>1.1</td>
      <td>0.7</td>
      <td>0.6</td>
      <td>0.4</td>
    </tr>
    <tr>
      <th>Other_Public_Sector_Bank_IDBI_Bank_Ltd.</th>
      <td>1.2</td>
      <td>1.2</td>
      <td>0.8</td>
      <td>0.7</td>
      <td>0.8</td>
      <td>0.6or_Bank_IDBI_Bank_Ltd.</td>
    </tr>
  </tbody>
</table>
</div>

In [43]:
data_NPA_2006_2009_sbh = data_NPA_2006_2009.loc['State_Bank_of_Hyderabad', 
                                                [2007, 2008, 2009, 
                                                 '2007.1', '2008.1', '2009.1']]
data_NPA_2006_2009_sbh

2007      0.7
2008      0.5
2009      0.6
2007.1    0.1
2008.1    0.1
2009.1    0.2
Name: State_Bank_of_Hyderabad, dtype: object

In [45]:
data_NPA_2006_2009_sbh = pd.DataFrame(data_NPA_2006_2009_sbh.values.reshape(2, 3),
                                      columns=[2007, 2008, 2009],
                                      index=['Gross NPAs/Total Assets', 'Net NPAs/Total Assets'])
data_NPA_2006_2009_sbh
%store data_NPA_2006_2009_sbh
data_NPA_2006_2009_sbh.to_csv('Dataset/Bank Data/NPA_2006_2009_sbh.csv')

Stored 'data_NPA_2006_2009_sbh' (DataFrame)

In [60]:
data_1999_2009_sbh = pd.concat([data_1999_2002_sbh.rename(index=str.lower),
                                data_2003_2004_sbh.rename(index=str.lower),
                                data_2005_2006_sbh.rename(index=str.lower),
                                data_2005_2006_sbh.rename(index=str.lower)], axis=1)
% store data_1999_2009_sbh
data_1999_2009_sbh.to_csv('Dataset/Bank Data/NPA_1999_2009_sbh.csv')

ValueError: Shape of passed values is (10, 44), indices imply (10, 43)

In [59]:
data_1999_2002 = pd.read_csv('Dataset/Bank Data/1999_2002_1.csv', index_col=0, names=[1999, 2000, 2001, 2002,
                                                                                      1999, 2000, 2001, 2002,
                                                                                      1999, 2000, 2001, 2002])
data_1999_2002.to_csv('Dataset/Bank Data/1999_2002_1.csv')